* {
  background: rgb(32,32,32);
  color: whitesmoke;
  font-family: avenir, arial, helvetica, sans-serif;
  border-radius: 10px;
  transition: 0.25s;
}

body {
  text-align: center;
}

button {
  background: whitesmoke;
  color: black;
  padding: 10px;
  border: none;
}

button:hover, button:focus {
  background: lime;
  color: black;
}

a {
  color: lightblue;
}

a:hover, a:focus {
  color: lime;
}

a:focus, button:focus {
  text-decoration: underline;
}

input {
  background: whitesmoke;
}

input {
  color: black;
  padding: 10px;
  border: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
